.button-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.label-and-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid white;
    padding: 21.440px 80px;
    gap: 16px
}

.label-and-button p{
    margin: 0;
}

.button-incrementation{
    padding: 16px 20px;
    border: none;
    border-radius: 8px;
    background: #0078d7;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.button-incrementation:hover{
    transition: all 0.3s;
    background: #084683;
}

.number-container{
    display: flex;
    justify-content: space-between;
}

.compteur{
    font-size: 30px;
    font-weight: 700;
}

.info{
    font-size: 12px;
}

.disabled{
    cursor: not-allowed;
    background: #545454;
}

.disabled:hover{
    background: #545454;
}